<%= search_form_for @q do |f| %>
  <%= f.label :name_cont %>
  <%= f.text_field :name_cont %>
  <%= f.submit 'Search', class: 'small button' %>
<% end %>

  <!-- Table -->
  <table>

    <thead>
      <tr>
        <th>Ruby Gem Name</th>
      </tr>
    </thead>

    <tbody>
      <% @ruby_gems.order("name").each do |ruby_gem| %>
        <tr>
          <td><%=link_to ruby_gem.name, ruby_gem_path(ruby_gem) %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

<br>
<%= link_to 'Add New Gem', new_ruby_gem_path, class: 'button' %>
