<%= @ruby_gem.name %>

<p>
  <strong>Reviews</strong><br>
  <% @ruby_gem.reviews.each do |review| %>
    <%= review.title %>
    <%= review.content %>
    <%= review.rating %>
      
      <%= simple_form_for [review, @vote ] do |f| %>
        <%= f.input :score, as: :hidden, input_html: {value: 1} %>
        <button type="submit">
          <i class="icon-thumbs-up"></i>
        </button>
      <%- end -%>
       <%= "Current score is: #{review.total_score}" %>
      <%= simple_form_for [review, @vote ] do |f| %>
        <%= f.input :score, as: :hidden, input_html: {value: -1} %>
         <button type="submit">
            <i class="icon-thumbs-down"></i>
          </button>
      <%- end -%>
  <%- end -%>
</p>

  <h1>Add New Gem Review</h1>

  <%= simple_form_for [@ruby_gem, @review] do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :rating, collection: 1..10 %>
    <%= f.submit 'Save' %>
  <%- end -%>

