<h1><%= @ruby_gem.name %></h1>

<p><strong>Reviews</strong></p>
  <% @ruby_gem.reviews.reject{|review|review.id.nil?}.each do |review| %>
    <%= review.title %><br>
    <%= review.content %><br>
    Score: <%= review.rating %><br>

    <%- if review.user == current_user -%>
      <strong>Form to Edit Review</strong>
      <div>
        <%= simple_form_for [@ruby_gem, review] do |f| %>
        <%= f.input :title %>
        <%= f.input :content %>
        <%= f.input :rating, collection: 1..10 %>
        <%= f.submit 'Update' %>
        <%- end -%>
      </div>
    <%- end -%>

      <% review.comments.each do |comment| %>
        <strong>Start of Comments</strong>
        <p class="comment"><%= comment.comment_content %></p>
      <% end %>
    <%- if user_signed_in? -%>
      <%= simple_form_for [review, @comment] do |f| %>
        <%= f.input :comment_content, label: "Comment on this review:" %>
        <%= f.submit 'Save Comment' %>
      <%- end -%>
    <%- end -%>
  <%- end -%>

<% if user_signed_in? && !@ruby_gem.reviewed_by?(current_user) %>
<p><strong>Add New Gem Review</strong>
  <%= simple_form_for [@ruby_gem, @review] do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :rating, collection: 1..10 %>
    <%= f.submit 'Save' %>
  <%- end -%>
</p>
<% end %>
